@page
@using GestioneLibreriaSaso.Classi
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Libro LastLibro = (Libro)ViewData["LastLibro"];
    List<Libro> LibriHorror = (List<Libro>)ViewData["LibriHorror"];
    List<Libro> LibriFantascienza = (List<Libro>)ViewData["LibriFantascienza"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bg-dark">
        <img src="~/dist/img/copertine/@LastLibro.Copertina" />
        <p>@LastLibro.IdLibro</p>
        <p>@LastLibro.Titolo</p>
        <p>@LastLibro.Descrizione</p>
        <p>@LastLibro.Genere</p>
        <p>@LastLibro.Autore.Nome @LastLibro.Autore.Cognome</p>
    </div>

    @for (int i = 0; i < LibriHorror.Count; i++)
    {
        if (LibriHorror[i].IdLibro != LastLibro.IdLibro)
        {
            <img src="~/dist/img/copertine/@LibriHorror[i].Copertina" />
            <p>@LibriHorror[i].IdLibro</p>
            <p>@LibriHorror[i].Titolo</p>
            <p>@LibriHorror[i].Descrizione</p>
            <p>@LibriHorror[i].Genere.NomeGenere</p>
            <p>@LibriHorror[i].Autore.NomeCognome</p>
        }
    }



</div>
